body {
	background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSU-BNf_9rf5qr1PDnJP2D98JlTsvSDMg-l-OcZgtgpA8yb9DRwg");
}

.Places{color: white; background-color: black; padding:20px; margin: 20px 0 20px 0;}
.Description{color: white; background-color: black;}
#favourite {color: white; background-color: orange; font-family: Arial;}

h1 {
	color: crimson;
	margin-left: 40px;
} 